.DS_Store
Thumbs.db
npm-debug.log
composer.json
build.bat
Doxyfile
/bower_components
/node_modules
/_tests
/_output
/ico
/secrets
/core
/ERC/ERC223
/ERC/ERC1363
/ERC/ERC2309
/ERC/ERC1820
/ERC/ERC3156
/EIP/EIP/Allowance
/EIP/EIP/AssetExchange
/EIP/EIP/Diamond
/EIP/EIP/FundStreaming
/EIP/EIP/GasStationNetwork
/EIP/EIP/MulticlassToken
/EIP/EIP/TokenizedStock
/EIP/EIP/Voting
SETUP.md